.hdr{
    display: table; 
  
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    top: 0;
    right: 5vw;
    margin-right: auto;
    margin-left: auto; 
    width: 10%;
    position: absolute; 
    overflow: auto; 
}
.hdr-li{
    text-align: center;
    margin:0rem 1rem 0rem 1rem;
    display: inline-block;
    background-color: transparent
}