.su-content{
    position:  fixed;
    display: block;
    margin:0;
    padding: 0;
    height:20rem;
    width: 15rem;
    right: 10vw;
    top: 10vh;
    background: rgba(255, 0, 0,.11);
    border-radius: .15rem;
}

.su-tt{
    font-family: 'Times New Roman', Times, serif;
    margin: .25rem, 0 .25rem, 0;
    padding: 0;
    font-size: 1.15rem;
    color: white;
}

.su-in{
    position:  relative;
    display: block;
    border: none;
    color: white;
    left: 3rem;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-radius: .15rem;
}

.su-btn{
    position:  absolute;
    display: block;
    left: 2.25rem;
    top: 16.5rem;
    height: 2rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    background:transparent;
    border: transparent;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    margin: auto;
    padding:auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: .90rem;
}

.su-btn:hover{
    background:rgba(255, 255, 255, 0.1);
    color: rgb(255, 0, 0);
}

.su-si{
    position:  absolute;
    display: block;
    left: 7rem;
    top: 16.5rem;
    height: 2rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    background:transparent;
    border: transparent;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    margin: auto;
    padding:auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: .90rem;
}

.su-si:hover{
    background:rgba(255, 255, 255, 0.1);
    color: rgb(255, 0, 0);
}