.App {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.footer-nav{
  margin: 0 auto;
  
}
.nav-ul{
  list-style-type: none;
  bottom: 0;
  width: 100%;
  position: fixed; 
  overflow: auto; 
}
.nav-li{ 
  text-align: center;
  margin:0rem 1rem 0rem 1rem;
  display: inline-block;
  background-color: transparent;
}
.nav-a{
    color:black;
    background-color: transparent;
    text-decoration: none
}

.nav-a:hover{
  background-color: red;
}